body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: #bcf3ec;
}

.pirika {
    background-color: #fecf8d;
}

.hurea {
    background-color: #8aa3b9;
}

.norisuke {
    background-color: #8aa3b9;
}

.mimi {
    background-color: #fff799;
}

.negi {
    background-color: #9fca99;
}

.oimo {
    background-color: #9fca99;
}

.mira {
    background-color: #d58d9d;
}

.sakura {
    background-color: #d58d9d;
}

.benkei {
    background-color: #fecf8d;
}